[submodule "emgapi"]
	path = emgapi
	url = git@github.com:EBI-Metagenomics/emgapi.git
[submodule "ebi-metagenomics-client"]
	path = ebi-metagenomics-client
	url = git@github.com:EBI-Metagenomics/ebi-metagenomics-client.git
[submodule "sourmash-queue"]
	path = sourmash-queue
	url = git@github.com:EBI-Metagenomics/sourmash-queue.git
